<h1>Location Report</h1>

<table>
	<thead>
		<th>Name</th>
		<th>huge</th>
		<th>big</th>
		<th>medium</th>
		<th>small</th>
		<th>quantity</th>
		<th>score</th>
	</thead>
	
	<% for row in @report %>
		<tr>
			<td><%= row[:name] %></td>
		  <td><%= row[:huge] %></td>
		  <td><%= row[:big] %></td>
		  <td><%= row[:medium] %></td>
		  <td><%= row[:small] %></td>
		  <td><%= row[:quantity] %></td>
		  <td><%= row[:score] %></td>
		</tr>
	<% end %>
</table>