<center>
  <ul class="pagination">
    <% for month in 1..12 %>
      <li class="<%=pagination_class(month)%>">
        <a href="<%=location_report_path @location_url, @year, month%>">
          <%=@month_names[month]%>
        </a>
      </li>
    <% end %>
  </ul>
</center>
<%= column_chart @chart_data %>

<table class="table table-bordered table-striped table-hover">
	<thead>
	  <tr>
  		<th>Имя</th>
  		<th>Махабиги</th>
  		<th>Биги</th>
  		<th>Средние</th>
  		<th>Маленькие</th>
  		<th>Количество</th>
  		<th>Очки</th>
	  </tr>
	</thead>
	
  <tfoot>
    <tr class="info">
      <td>Итого</td>
  		<td><%=@total_month[:huge]%></td>
  		<td><%=@total_month[:big]%></td>
  		<td><%=@total_month[:medium]%></td>
  		<td><%=@total_month[:small]%></td>
  		<td><%=@total_month[:quantity]%></td>
  		<td><%=@total_month[:scores]%></td>
    </tr>
	</tfoot>
	
	<% for row in @report %>
		<tr>
			<td><%= row[:name] %></td>
		  <td><%= row[:huge] %></td>
		  <td><%= row[:big] %></td>
		  <td><%= row[:medium] %></td>
		  <td><%= row[:small] %></td>
		  <td><%= row[:quantity] %></td>
		  <td><%= row[:scores] %></td>
		</tr>
	<% end %>
	

</table>